<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colage Xilu Xahui</title>
    <link rel="stylesheet" href="/estilos/estilos1.css" />
</head>
<body style="background-color: rgb(0, 118, 8);">
    <h1 style="background-color: rgb(21, 220, 3);">Colage de Xilu Xahui</h1>
    <h2 style="color: aliceblue;">Estas son algunas imagenes de algunos proyectos y actividades que a realizado la Fundación Xilu Xahui</h2>

    <div class="image-gallery1">
        <figure class="image-item1"> 
            <img src="/imagenes/images%20(1).jpeg" alt="" />
        </figure>
    </div>
    <div class="image-gallery1">
        <figure class="image-item1">
            <img src="/imagenes/firma_convenio.jpg.jpg" alt="" />
            <figcaption style="color: ghostwhite; background-color: brown;">Firma del convenio entre Xilu Xahui y Fuera del Closet</figcaption>
        </figure>

        <figure class="image-item1">
            <img src="/imagenes/EdoMex_45_Firma-de-convenio-fundacion-Xilu-Xahui-y-Fuera-del-Closet_4.jpg" alt="" />
            <figcaption style="color: ghostwhite; background-color: brown;">Firma de convenio en el Estado de México</figcaption>
        </figure>
    </div>
    <div class="image-gallery1">
        <figure class="image-item1"> 
            <img src="/imagenes/452316719_1027455932723622_285942799738019421_n.jpg" alt="xilu xahui" />
        </figure>
    </div>
    <div class="image-gallery">
        <img src="/imagenes/images%20(4).jpeg" alt="" />
        <img src="/imagenes/Imagen%20de%20WhatsApp%202025-03-20%20a%20las%2021.08.40_d2e2c11a.jpg" alt="" />
        <img src="/imagenes/images%20(6).jpeg" alt="" />
        <img src="/imagenes/images%20(7).jpeg" alt="" />
        <img src="/imagenes/images%20(8).jpeg" alt="" />
        <img src="/imagenes/MoDULOS.jpg" alt="" />
        <img src="/imagenes/Imagen%20de%20WhatsApp%202025-03-20%20a%20las%2021.08.40_d2e2c11a.jpg" alt="" />
        <img src="/imagenes/INDIGENAS%20F%20D%20L%20VEGA%20%20(2).jpg" alt="" />
        <img src="/imagenes/maxresdefault.jpg" alt="" />
        <img src="/imagenes/images.jpeg" alt="" />
        <img src="/imagenes/talleres-especial-enfasis-derecho-informacion.jpg" alt="" />
        <img src="/imagenes/images%20(3).jpeg" alt="" />
    </div>
</body>
</html>
